<!--The content below is only a placeholder and can be replaced.-->
<div>
<app-display-multiple [model1]="model"></app-display-multiple>
</div>

<div class="container">
<div class="row">
<div class="col-md-4 p-2 mt-3 bg-success">
  <label>
  <input type="checkbox" [(ngModel)]="showTable"/>
  Show Table
</label>
  </div>
  <div class="col-md-8 p-2 mt-3 bg-primary">
    <div class="form-group bg-info p-1">
      <label>Name:</label>
      <input class="bg-primary" [appPamodel]="newproduct.name"
      (appPamodelChange)="newproduct.name=$event" />
      </div>
  </div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-4 mt-3">
  <form novalidate #ProductForm ="ngForm" (ngSubmit) ="onSubmit(ProductForm)">

  <div class="form-group">
    <label for="name1">Name</label>
    <input type="text" class="form-control" id="name1"
           required
           minlength="5"
           maxlength="10"
           name="name"
           [(ngModel)]="newproduct.name">

  </div>

  <div class="form-group">
    <label for="category1">Category</label>
    <input type="text" class="form-control" id="category1"
           required
           name="category"
           [(ngModel)]="newproduct.category"
           #productcategory="ngModel">
  </div>

  <div class="form-group">
    <label for="price1">Price</label>
    <input type="text" class="form-control" id="price1"
           required
           name="price"
           [(ngModel)]="newproduct.price"
           #productPrice="ngModel">
  </div>

  <button class="btn btn-primary" type="submit">SubmitForm</button>
  <div *ngIf="formSubmitted" class="bg-info p-1 m-1">{{diagnostic}}</div>
  </form>
</div>

<div class="col-8">
<table *appStructure="showTable" class="table table-hover table-bordered mt-3">
<tr>
  <th>id</th>
  <th>Name</th>
  <th>Category</th>
  <th>price</th>
  <th>Delete</th>
</tr>
<tr *appIterative= "let product of model.getProducts(); let i = index"
   [appMyAttrDirective]="model.getProducts().length < 6 ? 'bg-success' : 'bg-warning'"
   [pa-Product]="product" (pa-category)="newproduct.category=$event">
  <td>{{product.id}}</td>
  <td>{{product.name}}</td>
  <td>{{product.category}}</td>
  <td>{{product.price}}</td>
  <td class="text-xs-center">
    <button class= "btn btn-danger btn-sm" (click)="deleteProduct(product.id)">
     Delete
    </button>
  </td>
</tr>
</table>
</div>
</div>
</div>




